---
import Card from "./Card.astro";

const bannerText = [
  "📚 Always Learning",
  "🚀 React • TypeScript • Python",
  "🎨 Design-minded Engineer",
  '🔎 console.log("here?")',
  "🛠️ Shipping products, not features",
  "⭐ Building c15t",
  "💡 Can this be improved? Most likely.",
  "🌐 Open Source Contributor",
  "💜 TypeScript Maximalist",
];
---

<Card class="relative h-14 overflow-hidden p-4">
  <div
    class="absolute top-0 left-0 z-10 h-full w-[100px] bg-linear-to-r from-card to-transparent"
  >
  </div>
  <div
    class="absolute top-0 right-0 z-10 h-full w-[100px] bg-linear-to-l from-card to-transparent"
  >
  </div>

  <div class="flex">
    <div class="marquee-left flex whitespace-nowrap">
      {bannerText.concat(bannerText).map((item) => <span class="mr-12">{item}</span>)}
    </div>
  </div>
</Card>
