---
import Nav from "./Nav.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="flex items-center gap-2 sm:gap-4">
  <div class="flex h-14 flex-1 items-center rounded-lg border border-border bg-card px-2 text-card-foreground shadow-xs">
    <Nav />
  </div>
  <ThemeSwitcher />
</header>
